@import url('./App.css');

.AuthSection {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40vh;
    width: 40vw;
    background-color: var(--button-text-color);
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
}

.SignSection {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.FormSection {
    width: 20vw;
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.AuthForm {
    height: 20vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.AuthInput {
    min-height: 4vh;
    padding: 2%;
    width: 100%;
}

.AuthButton {
    width: 50%;
    font-size: 1rem;
}

.LinkButton {
    background-color: inherit;
    font: inherit;
    border: none;
    cursor: pointer;
}

.AuthText, .LinkButton {
    font-size: 1rem;
    font-weight: 400;
}

.ErrorMessage {
    font-size: 0.8rem;
}