@import url('./App.css');

.Cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 24vw;
  height: 100vh;
  background-color: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.4s ease;
  z-index: 1000;
  padding: 2rem 1rem;
  overflow-y: auto;
}

.Cart.Open {
    right: 0;
}

.CloseButton {
  background: none;
  border: none;
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.CartText {
  font-size: 1.1rem;
  font-weight: 300;
}

.CartItem {
  position: relative;
  padding: 3%;
  height: 26vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.CartItem::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--button-bg-color);
  opacity: 0.3;
}

.CartItemInfo {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-evenly;
}

.CartItemHeader {
  font-size: 1.2rem;
}

.CartItemImage {
  height: 100%;
}

.CartRemoveButton {
  font-size: 1.1rem;
  padding: 6%;
}

.CartButtonSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.CartButton {
  min-width: 120px;
  width: 6vw;
  margin: 2rem auto;
  display: block;
  font-size: 1.2rem;
}