.CarouselSection {
  position: relative;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.CarouselItem {
  transition: transform 0.4s ease, opacity 0.4s ease;
  height: 30vh;
  padding: 1%;
  border-radius: 10px;
  background-color: #95e7a8;
  cursor: pointer;
  opacity: 0;
  transform: scale(0.5);
  pointer-events: none;
}

.ActiveCarouselItem {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
  z-index: 3;
}

.SideCarouselItem {
  transform: scale(0.6);
  opacity: 0.7;
  pointer-events: auto;
  z-index: 2;
}

.HiddenCarouselItem {
  display: none;
}
