@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* common styles */

*, *::before, *::after {
  --main-bg-color-transparent: rgba(255, 255, 255, 0.8);
  --header-color-transparent: rgba(255, 255, 255, 0.5);
  --button-bg-color: #054700;
  --button-text-color: #ffffff;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit
}

.CursiveText {
  font-family: "Dancing Script", cursive;
}

.Button {
  border-radius: 100px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 2%;
}

.FirstHeader {
  font-size: 3em;
}

.SecondHeader {
  font-size: 2em;
}

/* header styles */

.Header {
  background-color: var(--header-color-transparent);
  height: 16vh;
  font-weight: 400;
  position: sticky;
  top: 0;
  z-index: 5;
}

.HeaderSection {
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
  font-size: 24px;
  opacity: 1;
}

.HeaderItem {
  height: 4vh;
}

.Logo {
  height: 100%;
}

.MenuSection {
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  font-size: 16px;
}

.MenuItem {
  margin: 1% 2%;
}

/* content styles */

.ContentSection {
}

/* home page styles */

.HomeFirstSection {
  width: 100%;
  height: 90vh;
  position: relative;
  margin: 0;
  padding: 0;
}

.HomeFirstPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.HomeFirstSectionText {
  position: absolute;
  background-color: var(--main-bg-color-transparent);
  height: 40%;
  width: 40%;
  border-radius: 100px;
  top: 30%;
  left: 50%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-evenly;
}

.HomeFirstText {
  font-size: 1.5em;
}

.HomeFirstButton {
  font-size: 1.3em;
  font-weight: 400;
}

.HomeSecondSection {
  height: 50vh;
  padding: 3% 12%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.HomeSecondSectionText {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-evenly;
}

.HomeSecondText {
  font-size: 1.3em;
}

.HomeSecondSectionImage {
  height: 100%;
}